config/nsk.yaml,/home/gary/shared/mi_kernel_results,test,accuracy,stats/nsk_acc.csv
config/nsk.yaml,/home/gary/shared/mi_kernel_results,test,balanced_accuracy,stats/nsk_bacc.csv
config/nsk.yaml,/home/gary/shared/mi_kernel_results,test,auc,stats/nsk_auc.csv
config/twolevel.yaml,/home/gary/shared/twolevel_kernel_results,test,accuracy,stats/twolevel_acc.csv
config/twolevel.yaml,/home/gary/shared/twolevel_kernel_results,test,balanced_accuracy,stats/twolevel_bacc.csv
config/twolevel.yaml,/home/gary/shared/twolevel_kernel_results,test,auc,stats/twolevel_auc.csv
config/stk.yaml,/home/gary/shared/mi_kernel_results,test,accuracy,stats/stk_acc.csv
config/stk.yaml,/home/gary/shared/mi_kernel_results,test,balanced_accuracy,stats/stk_bacc.csv
config/stk.yaml,/home/gary/shared/mi_kernel_results,test,auc,stats/stk_auc.csv
config/miGraph.yaml,/home/gary/shared/mi_kernel_results,test,accuracy,stats/migraph_acc.csv
config/miGraph.yaml,/home/gary/shared/mi_kernel_results,test,balanced_accuracy,stats/migraph_bacc.csv
config/miGraph.yaml,/home/gary/shared/mi_kernel_results,test,auc,stats/migraph_auc.csv
config/capital_MIGraph.yaml,/home/gary/shared/migraph_results,test,accuracy,stats/capital_MIgraph_acc.csv
config/capital_MIGraph.yaml,/home/gary/shared/migraph_results,test,balanced_accuracy,stats/capital_MIgraph_bacc.csv
config/capital_MIGraph.yaml,/home/gary/shared/migraph_results,test,auc,stats/capital_MIgraph_auc.csv
config/special_MIGraph.yaml,/home/gary/shared/special_migraph_results,test,accuracy,stats/captial_MIgraph_acc.csv
config/special_MIGraph.yaml,/home/gary/shared/special_migraph_results,test,balanced_accuracy,stats/captial_MIgraph_bacc.csv
config/special_MIGraph.yaml,/home/gary/shared/special_migraph_results,test,auc,stats/captial_MIgraph_auc.csv
config/emd.yaml,/home/gary/shared/emd_results,test,accuracy,stats/emd_acc.csv
config/emd.yaml,/home/gary/shared/emd_results,test,balanced_accuracy,stats/emd_bacc.csv
config/emd.yaml,/home/gary/shared/emd_results,test,auc,stats/emd_auc.csv
config/kemd.yaml,/home/gary/shared/kemd_results,test,accuracy,stats/kemd_acc.csv
config/kemd.yaml,/home/gary/shared/kemd_results,test,balanced_accuracy,stats/kemd_bacc.csv
config/kemd.yaml,/home/gary/shared/kemd_results,test,auc,stats/kemd_auc.csv
config/yards.yaml,/home/gary/shared/yards_results,test,accuracy,stats/yards_acc.csv
config/yards.yaml,/home/gary/shared/yards_results,test,balanced_accuracy,stats/yards_bacc.csv
config/yards.yaml,/home/gary/shared/yards_results,test,auc,stats/yards_auc.csv
config/miles.yaml,/home/gary/shared/miles_results,test,accuracy,stats/miles_acc.csv
config/miles.yaml,/home/gary/shared/miles_results,test,balanced_accuracy,stats/miles_bacc.csv
config/miles.yaml,/home/gary/shared/miles_results,test,auc,stats/miles_auc.csv
config/og_yards.yaml,/home/gary/shared/og_yards_results,test,accuracy,stats/og_yards_acc.csv
config/og_yards.yaml,/home/gary/shared/og_yards_results,test,balanced_accuracy,stats/og_yards_bacc.csv
config/og_yards.yaml,/home/gary/shared/og_yards_results,test,auc,stats/og_yards_auc.csv
config/og_miles.yaml,/home/gary/shared/og_miles_results,test,accuracy,stats/og_miles_acc.csv
config/og_miles.yaml,/home/gary/shared/og_miles_results,test,balanced_accuracy,stats/og_miles_bacc.csv
config/og_miles.yaml,/home/gary/shared/og_miles_results,test,auc,stats/og_miles_auc.csv
config/empbox.yaml,/home/gary/shared/empbox_results,test,accuracy,stats/empbox_acc.csv
config/empbox.yaml,/home/gary/shared/empbox_results,test,balanced_accuracy,stats/empbox_bacc.csv
config/empbox.yaml,/home/gary/shared/empbox_results,test,auc,stats/empbox_auc.csv
config/twolevel2.yaml,/home/gary/shared/twolevel2_kernel_results,test,accuracy,stats/twolevel2_acc.csv
config/twolevel2.yaml,/home/gary/shared/twolevel2_kernel_results,test,balanced_accuracy,stats/twolevel2_bacc.csv
config/twolevel2.yaml,/home/gary/shared/twolevel2_kernel_results,test,auc,stats/twolevel2_auc.csv
config/oracle.yaml,/home/gary/shared/oracle_results,test,accuracy,stats/oracle_acc.csv
config/oracle.yaml,/home/gary/shared/oracle_results,test,balanced_accuracy,stats/oracle_bacc.csv
config/oracle.yaml,/home/gary/shared/oracle_results,test,auc,stats/oracle_auc.csv
