config/nsk.yaml,/home/gary/shared/mi_kernel_results,stats/nsk_times.csv
config/twolevel.yaml,/home/gary/shared/twolevel_kernel_results,stats/twolevel_times.csv
config/stk.yaml,/home/gary/shared/mi_kernel_results,stats/stk_times.csv
config/miGraph.yaml,/home/gary/shared/mi_kernel_results,stats/migraph_times.csv
config/capital_MIGraph.yaml,/home/gary/shared/migraph_results,stats/capital_MIgraph_times.csv
config/special_MIGraph.yaml,/home/gary/shared/special_migraph_results,stats/captial_MIgraph_times.csv
config/emd.yaml,/home/gary/shared/emd_results,stats/emd_times.csv
config/kemd.yaml,/home/gary/shared/kemd_results,stats/kemd_times.csv
config/yards.yaml,/home/gary/shared/yards_results,stats/yards_times.csv
config/miles.yaml,/home/gary/shared/miles_results,stats/miles_times.csv
config/og_yards.yaml,/home/gary/shared/og_yards_results,stats/og_yards_times.csv
config/og_miles.yaml,/home/gary/shared/og_miles_results,stats/og_miles_times.csv
config/empbox.yaml,/home/gary/shared/empbox_results,stats/empbox_times.csv
config/twolevel2.yaml,/home/gary/shared/twolevel2_kernel_results,stats/twolevel2_times.csv
config/oracle.yaml,/home/gary/shared/oracle_results,stats/oracle_times.csv
