config/kernel.yaml,precomputed,test,accuracy,../stats/hardmarginbox_acc.csv
config/andor.yaml,precomputed,test,accuracy,../stats/hardmarginbox_acc.csv
config/kernel.yaml,precomputed,test,balanced_accuracy,../stats/hardmarginbox_bacc.csv
config/andor.yaml,precomputed,test,balanced_accuracy,../stats/hardmarginbox_bacc.csv
config/kernel.yaml,precomputed,test,auc,../stats/hardmarginbox_auc.csv
config/andor.yaml,precomputed,test,auc,../stats/hardmarginbox_auc.csv
